.header {
  max-width: 1920px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    max-width: 940px;
    width: 100%;
  }

  &__line {
    max-width: 940px;
    width: 100%;
    border-bottom: 1px solid #828282;
  }

  @media (max-width: 525px) {
    &__nav {
      display: none;
    }
    &__line {
      display: none;
    }
  }
}
