* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

a {
  color: #828282;
  font-family: Gilroy-Bold;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  &:hover {
    color: #070707;
  }
}

ul {
  list-style-type: none;
}
button {
  cursor: pointer;

  &:hover {
    color: red;
  }
}

@media (max-width: 525px) {
  .container {
    max-width: 316px;
    padding: 0 20px;
  }
}
