.home {
  padding: 40px 0 104px;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    max-width: 123.513px;
    color: #070707;
    font-family: Gilroy-Bold;
    font-size: 47.339px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__test {
    overflow: hidden;
  }
  &__about {
    max-width: 155px;
    color: #070707;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: end;
  }
  &__img {
    object-fit: cover;
    object-position: 50% 43%;
    margin-top: 50px;
    height: 387px;
    width: 100%;
  }

  @media (max-width: 525px) {
    &__hero {
      display: flex;
      justify-content: space-between;
    }
    &__content {
      display: flex;
      flex-direction: column;
    }
    &__about {
      margin-top: 23px;
    }
    &__img {
      // background: lightgray;
      transform: scale(1.3);
      object-position: 50% 150%;
      // height: 478px;
    }
  }
}
